<div class="container">
  <form class="mt-4">
    <div class="mb-3">
      <label for="search" class="form-label">Từ khóa</label>
      <input type="text" class="form-control" id="search" placeholder="Nhâp từ khóa tìm kiếm" name="q">
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>